#cart_form{
width: 500px;
border: 2px solid black;
border-radius: 1%;
text-align: center;
position: relative;
font-family:Raleway, sans-serif;
left: 36%;
}


@media only screen and (max-width: 575px){
    #cart_form{
        left: 5%;
        width: 90%;
    }
}