#home_imagen{
    width: 100%;
    height: 91.7vh;
    margin: 0;
    background-image: url('./HamburguesaPortada.jpg');
}
#home_h1{
    position: absolute;
    top: 350px;
    left: 35%;
    font-size: 85px;
    color: rgba(237,176,38,255);
    z-index: +4100;
    font-family: Raleway, sans-serif;
}



@media only screen and (max-width: 575px){
    #home_h1{
        left: 25%;
    }
}