#listcontainer_items{
background-color: rgb(253, 251, 251);
}
#listcontainer_opacity{
    position: absolute;
    width: 100%;
    background: black;
    opacity: 15%;
}
#flexcontainer_items{
display: flex;
text-decoration: none;
width: 1200px;
position: relative;
left: 17%;
flex-wrap: wrap;
justify-content: space-evenly;
}
#item_image{
    width: 220px;
    height: 150px;
}

@media only screen and (max-width: 575px){
    #listcontainer_items{
        width: 100%;
        margin:0;
    }
    #item_image{
        width: 150px;
        height: 100px;
    }

    #flexcontainer_items{
        display: flex;
        justify-content:start;
        flex-wrap: wrap;
        left: 0;
        width: 100%;
    }
}