#itemdetail_flexcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    position:relative;
    background-image: url('../imagen/wallpaper.jpg');
}
#itemdetail_cardcontainer{   
    text-align: center;
    width: 250px;
    height: 200px;
    box-shadow:rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 2%;
    background-color: #f0e9e9;
}



@media only screen and (max-width: 575px){
    #itemdetail_flexcontainer{
        justify-content: start;
        left: 0;
    }
    #itemdetail_cardcontainer{
        width: 250px;
        height: 200px;
    }
}