#listcontainer_items{
    background-image: url('../imagen/wallpaper.jpg');
}
#flexcontainer_items{
display: flex;
text-decoration: none;
width: 1200px;
position: relative;
left: 17%;
flex-wrap: wrap;
justify-content: space-evenly;
}


@media only screen and (max-width: 575px){
    #listcontainer_items{
        width: 100%;
        margin:0
    }
    
    #flexcontainer_items{
        display: flex;
        justify-content:start;
        flex-wrap: wrap;
        left: 0;
        width: 100%;
    }
}